body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.barra-navegacion {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #747272;
  color: #fff;
  padding: 20px;
  flex-direction: column;
  border-radius: 12px;
}
.barra-navegacion button {
  color: #717171;
  border: none;
  color: rgb(66, 66, 66);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.carrera-de-caballos {
  display: none;
  width: 60%;
  height: 670px;
  justify-content: space-between;
  align-items: center;
  background-color: #747272;
  color: #fefefe;
  padding: 20px;
  flex-direction: row;
  border-radius: 12px;
  margin-right: 20px;
}
.formulario {
    display: flex;
    width: 45%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: #6c6c6c;
    color: #fff;
    padding: 20px;
    flex-direction: column;
    border-radius: 12px;
}
.formulario input {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.botones-agregados {
    display: flex;
    width: 45%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-color: #858585;
    color: #fff;
    padding: 20px;
    flex-direction: column;
    border-radius: 12px;
}

.carrera-de-carretas {
    display: none;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #747272;
    color: #fefefe;
    padding: 20px;
    flex-direction: row;
    border-radius: 12px;
    margin-right: 20px;
  }
  .carrera-de-perros {
    
    display: none;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #747272;
    color: #fefefe;
    padding: 20px;
    flex-direction: row;
    border-radius: 12px;
    margin-right: 20px;
  }
  .canales-multivideo {
    
    display: none;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #747272;
    color: #fefefe;
    padding: 20px;
    flex-direction: row;
    border-radius: 12px;
    margin-right: 20px;
  }